*{
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-style: italic;
}

.form-control{
    width: 50%;
}
.form-control:hover{
    background-color: blanchedalmond;
}
.selectClass{
    width: 40%;
    height: 38px;
}
.container1{
    background-color: lightblue;
}
#container2{
    display: none;
}
h1{
    text-align: center;
}
#formOne{
    padding-left: 200px;
}
#Letter{
    width: 9.8in;
    height: 11in;
    padding: 0.5in;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    align-items: center;
}
#jamb{
    font-size: 35px;
}
#address{
    font-size: 16px;
    text-align: center;
}
#office{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
img{
    margin-left: 300px;

}
h2{
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
}
.firstName{
    text-transform: uppercase;
}
.secondName{
    text-transform: uppercase;
}
.institutionName{
    text-transform: uppercase;
}
.degree{
    text-transform: uppercase;
}
.programName{
    text-transform: uppercase;
}